.negro{
  background-color: black;
}

td{
  width: 40px;
  height: 40px;
}

body {
    background: #fcfaef;
    text-align: center;
    margin: 100px auto;
    width: 80%;
    padding: 20 40px;
    font: 14px;
}

p {
  font-family: verdana;
  font-size: 18px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.input {
    background: #770414;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: verdana;
    color: white;
    font-size: 18px;
}

table {
  margin: 3%;
}

.tabla2 {
  
}

.button {
    background-color: #30302e;
    border: none;
    color: white;
    padding: 12px 29px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
